@media (max-width: 992px) {
    .grid-2,
    .grid-3,
    .grid-4,
    .hero-container {
        grid-template-columns: 1fr;
    }
    .hero {
        text-align: center;
    }
    .hero h1 {
        font-size: 2.6rem;
    }
    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .hero-stats {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav-links {
        display: none;
    }
    .services-grid{
    grid-template-columns:1fr;
}
.vehicle-grid{
    grid-template-columns:1fr;
}
.why-grid{
    grid-template-columns:1fr;
}
.vehicle-filters{
    grid-template-columns:1fr;
}
}
/*==========================================
TABLETS & PHONES
==========================================*/
@media(max-width:900px){
    .menu-toggle{
        display:block;
    }
    .nav-links{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:#fff;
        flex-direction:column;
        gap:0;
        display:none;
        box-shadow:0 10px 25px rgba(0,0,0,.08);
    }
    .nav-links.show{
        display:flex;
    }
    .nav-links li{
        width:100%;
    }
    .nav-links a{
        display:block;
        padding:18px 30px;
        border-bottom:1px solid #eee;
    }
}
/*==========================================
FOOTER
==========================================*/
@media(max-width:900px){
    .footer-grid{
        grid-template-columns:1fr;
        gap:35px;
    }
}