<nav class="navbar">
    <div class="container navbar-container">
        <a href="../index.html" class="logo">
            CarBiz Motors
        </a>
        <div class="menu-toggle">
            ☰
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/vehicles.html">Vehicles</a></li>
            <li><a href="../pages/sell-your-car.html">Sell Your Car</a></li>
            <li><a href="../pages/logbook-loans.html">Logbook Loans</a></li>
            <li><a href="../pages/car-hire.html">Car Hire</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav>