<nav class="navbar">
    <div class="container navbar-container">
        <a href="../index.html" class="logo">
            <span class="logo-icon">🚗</span>
            <span>CarBiz Motors</span>
        </a>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/vehicles.html">Vehicles</a></li>
            <li><a href="../pages/sell-your-car.html">Sell Your Car</a></li>
            <li><a href="../pages/logbook-loans.html">Logbook Loans</a></li>
            <li><a href="../pages/car-hire.html">Car Hire</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
        <a href="../admin/login.html" class="btn btn-primary">
            Admin
        </a>
    </div>
</nav>